<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Hekim Kadromuz</h5>
            <h1 class="display-4">Alanında Uzman Sağlık Profesyonelleri</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">

            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100" style="min-height: 400px;">
                        <img class="img-fluid w-100 h-100" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?q=80&w=500&auto=format&fit=crop" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Ayşe Yılmaz</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Kardiyoloji Uzmanı</h6>
                            <p class="m-0">
                                Kalp ve damar hastalıkları tanı ve tedavisinde 15 yıllık tecrübesiyle hastalarımıza hizmet vermektedir.
                            </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100" style="min-height: 400px;">
                        <img class="img-fluid w-100 h-100" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?q=80&w=500&auto=format&fit=crop" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Ahmet Gündüz</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Nöroloji Uzmanı</h6>
                            <p class="m-0">
                                Sinir sistemi rahatsızlıkları, baş ağrısı ve migren tedavisinde uzmanlaşmış deneyimli hekimimiz.
                            </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100" style="min-height: 400px;">
                        <img class="img-fluid w-100 h-100" src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?q=80&w=500&auto=format&fit=crop" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Mehmet Demir</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Ortopedi Uzmanı</h6>
                            <p class="m-0">
                                Eklem cerrahisi, spor yaralanmaları ve travmatoloji alanında güncel tedavi yöntemlerini uygulamaktadır.
                            </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100" style="min-height: 400px;">
                        <img class="img-fluid w-100 h-100" src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?q=80&w=500&auto=format&fit=crop" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Zeynep Çelik</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Çocuk Sağlığı Uzmanı</h6>
                            <p class="m-0">
                                Çocuklarınızın sağlıklı gelişimi ve hastalıklarının takibi için şefkatli ve uzman yaklaşım sunar.
                            </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#!">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>