@model  Medinova.DTOs.ChangePassword
@{
    ViewBag.Title = "Şifre Değiştir"; // Başlığı da isteğine göre düzenleyebilirsin
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4 mt-1">
        <h3 class="mb-0">Ayarlar</h3>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="index.html" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-8-line fs-15 text-primary me-1"></i>
                        <span class="text-body fs-14 hover">Kontrol Paneli</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="text-secondary">Ayarlar</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="card bg-white border border-white rounded-10 p-20 mb-4">
        <ul class="ps-0 mb-4 list-unstyled d-flex flex-wrap gap-2 gap-lg-3">
            <li>
                <a href="change-password.html" class="btn btn-primary border-primary bg-primary text-white fs-16 fw-normal px-3 px-lg-4">Şifre Değiştir</a>
            </li>
        </ul>

        <form id="password-show-hide" method="post">
            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-20">
                        <label class="label fs-16 mb-2">Eski Şifre</label>
                        <div class="form-group">
                            <div class="password-wrapper position-relative password-container">
                                <input required name="OldPassword" type="password" class="form-control text-secondary password" placeholder="Eski şifrenizi girin">
                                <i style="color: #A9A9C8; font-size: 22px; right: 15px;" class="ri-eye-off-line password-toggle-icon translate-middle-y top-50 position-absolute cursor text-secondary" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-20">
                        <label class="label fs-16 mb-2">Yeni Şifre</label>
                        <div class="form-group">
                            <div class="password-wrapper position-relative password-container">
                                <input required name="NewPassword" type="password" class="form-control text-secondary password" placeholder="Yeni şifrenizi girin">
                                <i style="color: #A9A9C8; font-size: 22px; right: 15px;" class="ri-eye-off-line password-toggle-icon translate-middle-y top-50 position-absolute cursor text-secondary" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-20">
                        <label class="label fs-16 mb-2">Şifre Onayı</label>
                        <div class="form-group">
                            <div class="password-wrapper position-relative password-container">
                                <input required name="ConfirmPassword" type="password" class="form-control text-secondary password" placeholder="Yeni şifrenizi tekrar girin">
                                <i style="color: #A9A9C8; font-size: 22px; right: 15px;" class="ri-eye-off-line password-toggle-icon translate-middle-y top-50 position-absolute cursor text-secondary" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-20">
                        <label class="label fs-16 mb-2">Kullanıcı Adı</label>
                        <div class="form-group">
                            <div class="password-wrapper position-relative password-container">
                                <input name="UserName" type="text" class="form-control text-secondary" required placeholder="Kullanıcı adınızı girin">
                            </div>
                        </div>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissible fade show fs-14 mt-3 rounded-10" role="alert" style="border-left: 4px solid #dc3545;">
                            <div class="d-flex align-items-center fw-bold mb-2">
                                <i class="ri-error-warning-line fs-18 me-2"></i> İşlem Sırasında Hatalar Oluştu:
                            </div>

                            @Html.ValidationSummary(false, "", new { @class = "mb-0 ps-3 fw-medium" })

                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                        </div>
                    }
                </div>

                <div class="col-lg-12">
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary fw-normal text-white">Bilgileri Güncelle</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>